<h5>*ngIf</h5>

<div *ngIf="cursos.length">
  Lista de cursos aqui
</div>

<div *ngIf="!cursos.length">
  Não existem cursos para serem listados!
</div>


<div *ngIf="mostrarCursos">
  Lista de cursos aqui
</div>

<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados!
</div>

<br>
<button (click)="mostrarCursos = !mostrarCursos">
  <span *ngIf="mostrarCursos">Esconder cursos</span>
  <span *ngIf="!mostrarCursos">Mostrar cursos</span>
</button>

<br>
<h5>Hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">
  Lista de cursos aqui
</div>

<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados!
</div>

<br>
<h5>Why we use *</h5>

<ng-template [ngIf]="mostrarCursos">
  <div>
    Lista de cursos aqui
  </div>
</ng-template>

<!-- <div ng-template="ngIf mostrarCursos">
  Lista de cursos aqui
</div> -->

<br>

<ul>
  <li template="ngFor let curso of cursos, let i = index">{{ i + 1 }} - {{ curso }}</li>
</ul>

<ul>
  <ng-template ngFor [ngForOf]="cursos" let-curso let-i="index">
    <li>{{ i + 1 }} - {{ curso }}</li>
  </ng-template>
</ul>
